<template>
  <q-page class=" q-pa-md">
    <div class="row">
      <div class="text-h3 text-weight-light">Albums</div>
    </div>

    <div class="row q-col-gutter-sm">
      <div :key="index" v-for="(album, index) in albums" class="col-md-2 col-sm-12 col-xs-12">
        <q-card @click="selectAlbum(album)" class="my-card cursor-pointer	">
          <q-img  :src="album['im:image'][2].label" />
 
          <q-card-section>
            <div class="text-h6 ellipsis">
              {{ album.title.label }}
              <q-tooltip>
                {{ album.title.label }}
              </q-tooltip>
            </div>
            <div class="row text-subtitle2">
              by {{ album["im:artist"].label }}
               
              </div>
          

          </q-card-section>

          <q-card-section class="q-pt-none">
            
              <q-chip class="float-right" square dense color="purple" text-color="white" >
                   {{album['im:price'].label}}
            </q-chip>
            
            <div>
            <q-chip square dense  color="grey" text-color="white" >
              {{ album.category.attributes.label }}
            </q-chip>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  data() {
    return {
      albums: []
    };
  },
  mounted() {
    this.getItunesData();
  },
  methods: {
    // Function To get the intial Data
    getItunesData() {
      this.$axios
        .get("https://itunes.apple.com/us/rss/topalbums/limit=100/json")
        .then(res => {
          this.albums = res.data.feed.entry;
          let current_album={
            title:this.albums[0].title.label,
            thumbnail:this.albums[0]['im:image'][1].label,
             singer:this.albums[0]["im:artist"].label
          }
          this.$store.dispatch('setCurrentAlbum',current_album)
          console.log(this.albums);
        });
    },
    // On click handler to select album and dispatch and action to store
    selectAlbum(album){
      console.log(album)
        let current_album={
            title:album.title.label,
            thumbnail:album['im:image'][1].label,
            singer:album["im:artist"].label
          } 
      this.$store.dispatch('setCurrentAlbum',current_album)
    }
  }
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
