<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Itunes Album
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label header class="text-grey-8">
          Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer style="height: 70px" class="bg-pink-2 mobile-hide" elevated>
      <!-- <q-toolbar-title >Footer</q-toolbar-title> -->

      <div class="row justify-between">
        <div class="row q-pa-sm">
          <q-avatar square>
            <img :src="$store.state.current_album.thumbnail" />
          </q-avatar>
          <div class="column q-ml-sm">
            <span class="text-weight-medium">{{
              $store.state.current_album.title
            }}</span>
            <span class="text-weight-regular"
              >by {{ $store.state.current_album.singer }}</span
            >
          </div>
        </div>
        <div class="column flex flex-center q-pa-xs q-pr-md">
          <div class="row">
            <q-icon size="md" name="skip_previous" />
            <q-icon size="md" name="play_arrow" />
            <q-icon size="md" name="skip_next" />
          </div>
          <div style="width:500px">
            <q-slider v-model="slider_val" :min="0" :max="150" />
          </div>
        </div>
      </div>
    </q-footer>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";

const linksData = [
  {
    title: "Your Music",
    icon: "library_music",
    link: ""
  },
  {
    title: "Radio",
    icon: "radio",
    link: ""
  },
  {
    title: "Playlist",
    icon: "library_add",
    link: ""
  },
  {
    title: "Albums",
    icon: "featured_play_list",
    link: ""
  },

];

export default {
  name: "MainLayout",
  components: { EssentialLink },
  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData,
      slider_val: 50
    };
  }
};
</script>
